<header>
    <p>Abraham Jimenez</p>
    <div class="bar--container">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
</header>

<style>
    header {
        background: #D8D8D8;
        display: flex;
        justify-content: space-between;
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .25);
        margin-bottom: 16px;
    }

    .bar--container {
        display: flex;
        flex-direction: column;
    }

    .bar {
        margin: 8px 8px 8px 0;
        width: 40px;
        height: 1px;
        background: black;
    }
</style>