---
import {Image} from "astro:assets";
import profile_sm from "../images/profile-sm.jpeg";
import heartset from "../images/heartset.png";
---

<div class="aboutme--container">
    <div class="profile--pic">
        <a href="https://abrahamjimenez.github.io/HeartSet/" target="_blank">
            <Image src={heartset} alt="Heartset"/>
        </a>
    </div>

    <p>
        Dorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet
        odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    </p>
</div>

<style>
    .aboutme--container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .profile--pic {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        width: 92%;
        height: auto;
    }
</style>