<table>
    <thead>
    <tr>
        <th>Advanced</th>
        <th>Intermediate</th>
        <th>Beginner</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Node</td>
        <td>MongoDB</td>
        <td>React</td>
    </tr>
    <tr>
        <td>JavaScript</td>
        <td>PostgreSQL</td>
        <td>Redux</td>
    </tr>
    <tr>
        <td>Github</td>
        <td>API Management</td>
        <td>Astro</td>
    </tr>
    <tr>
        <td></td>
        <td>Svelte</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>SCSS</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>Photoshop</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>InDesign</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>Illustrator</td>
        <td></td>
    </tr>
    </tbody>
</table>

<style>
    table {
        width: 100%;
        margin: 20px auto 0 auto;
        border-collapse: collapse;
    }

    thead th, tbody td {
        border: 1px solid #dddddd;
        padding: 8px;
        text-align: left;
    }

    thead th {
        background-color: #f2f2f2;
    }

    tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }
</style>